h1 {

    color: red;
    background-color: limegreen;

}

h5 {

    color: blue;

}

.colorLinks {

    color: black;

}

.colorLista {

    color: purple;
    background-color: pink;

}


